SERVICE_NAME=subscriptions
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
LOG_LEVEL=debug
DATABASE_URL=postgres://postgres:123456@localhost:5432/subscriptions?sslmode=disable
DATABASE_MAX_CONNECTIONS=20
DATABASE_CONNECTION_LIFETIME=10

# Docker compose variables
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=subscriptions_service_db
